<p id="notice"><%= notice %></p>

<p>
  <strong>Asin:</strong>
  <%= @comic.asin %>
</p>

<p>
  <strong>Image path:</strong>
  <%= @comic.image_path %>
</p>

<p>
  <strong>Author:</strong>
  <%= @comic.author %>
</p>

<p>
  <strong>Publisher:</strong>
  <%= @comic.publisher %>
</p>

<%= link_to 'Edit', edit_comic_path(@comic) %> |
<%= link_to 'Back', comics_path %>
